.movie-card {
  display: flex;
  justify-content: space-around;
  margin: 10px 10px 10px 10px;
  align-items: center;
}

.movie-card h3 {
  color: #ff71ce;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
